@model IEnumerable<ProtonAnalytics.Models.GameModel>

@{
    ViewBag.Title = "Games";
}

@Scripts.Render("~/bundles/angularjs")
@Scripts.Render("~/Scripts/angular/gamesApp.js")

<div ng-app="gamesApp">    
    <ul ng-controller="GamesListController as controller">
        <li ng-repeat="game in controller.games"><strong>{{ game.Name }}</strong> ({{ game.Id }})</li>
    </ul>    
</div>